# CodeIgniter 4 Git Ignore
/vendor/
/writable/*
!/writable/index.html
!/writable/keep
!/writable/import_products.json
/writable/cache/*
/writable/debugbar/*
/writable/session/*
/writable/uploads/*
.env
.phpunit.result.cache
.DS_Store
